<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agendamento de Barbearia</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'agendamentos/css/styles.css' %}">
</head>
<body>
    <h1>Agendamento de Serviço</h1>
    
    <form method="post">
        {% csrf_token %}
        
        <!-- Campo Nome do Cliente -->
        {{ form.nome.label_tag }} {{ form.nome }}<br>
        
        <!-- Campo Data -->
        <label for="data">Data:</label>
        <select name="data" id="data">  <!-- O campo precisa ter o name="data" para ser capturado -->
            {% for dia in dias_disponiveis %}
                <option value="{{ dia.data|date:'Y-m-d' }}">{{ dia.data|date:'d/m/Y' }}</option> <!-- Formata para d/m/Y -->
            {% endfor %}
        </select><br>
        
        <!-- Campo Horário -->
        {{ form.horario.label_tag }} {{ form.horario }}<br>

        <button type="submit">Agendar</button>
    </form>
</body>
</html>
